<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
<div class='container_12'>
  <div class='grid_12'>
<h4>热招职位</h4>
  <table class="table">
  <thead>
    <tr>
      <th align="left">Title</th>
      <th align="left">City</th>
      <th align="left">Industry</th>
      <th align="left">Base pay</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td style="width: 200px;height:30px"><%= job.title %></td>
	<td style="width: 100px"><%= job.city %></td>
        <td style="width: 200px"><%= job.industry %></td>
        <td style="width: 200px"><%= job.base_pay %></td>
        <td style="width: 50px"><%= link_to 'Show', job,target: :_blank %></td>
        <td style="width: 50px"><%= link_to 'Edit', edit_job_path(job) %></td>
        <td style="width: 50px"><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div clss='clear'></div>

<%= paginate @jobs %>
<br>
</div>
